/* Grid Medium */
*+.uk-grid-margin-medium, .uk-grid+.uk-grid-medium, .uk-grid-medium>.uk-grid-margin {
    margin-top: 90px !important;
}

/* Grid Small */
*+.uk-grid-margin-small, .uk-grid+.uk-grid-small, .uk-grid-small>.uk-grid-margin {
    margin-top: 10px !important;
}

/* Card Default */
.uk-card-default {
	box-shadow: 1px 1px 5px rgba(0,0,0,0.4) !important;
	border-radius: 1px;
}

.uk-card-default.uk-card-hover:hover {
    background: linear-gradient(to bottom, #ececec 0%, #f5f5f5 100%) !important;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.6) !important;
    border-radius: 1px;
}

/* Card Image */
.thumbnail {
	float: left;
	position: relative;
	left: 30px;
	top: -30px;
	height: 320px;
	width: 530px;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	overflow: hidden;
}

.uk-overlay {
    padding: 20px 30px !important;
}

.uk-overlay-primary {
    text-align: center;
}

/* .uk-card-default.uk-card-hover:hover .thumbnail {
    border: 5px solid #ccc !important;
} */

/* Card Header */
.uk-card-header {
    padding: 20px 30px 10px 60px !important;
}

/* Desktop and bigger */
@media (min-width: 1200px) {
    .uk-card-header {
	    padding: 20px 30px 10px 60px !important;
	}
}

.uk-card-default .uk-card-header {
    border-bottom: 0 !important;
}

/* Card Badge */
.uk-card-badge {
    top: 0 !important;
    right: 0 !important;
}

.uk-label {
    padding: 10px 10px !important;
    background: linear-gradient(to bottom, #f5f5f5 0%, #ececec 100%) !important;
    color: #666 !important;
    border-radius: 0 !important; /* border-radius: 2px; */
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    letter-spacing: 1px;
}

.uk-card-default.uk-card-hover:hover .uk-label {
    background: #f5f5f5 !important;
}

/* Card Body */
.uk-card-body {
    padding: 0 0 0 15px !important;
}

/* Desktop and bigger */
@media (min-width: 1200px) {
    .uk-card-body {
	    padding: 0 0 0 15px !important;
	}
}

/* Card Title H3 */
*+.uk-h3, *+h3 {
    margin-top: 0px !important;
}

/* Card HR */
.uk-hr, hr {
    margin: 0 0 10px 0 !important;
}

.uk-hr-custom {
    margin: 0 0 15px 0 !important;
}

/* Card Text */
.uk-text-emphasis {
    vertical-align: middle;
}

.uk-text-secondary {
    vertical-align: middle;
}

.uk-section-default .uk-card-default .uk-card-header .uk-card-body p {
	text-align: justify;
	/* padding-top: 10px; */
	font-size: 0.95rem;
	line-height: 150%;
	margin: 0 0 10px 0;
	letter-spacing: 1px;
}

/* Card Button */
.uk-button-small {
    padding: 0 10px !important;
}

li .uk-button-small {
    font-size: .775rem !important;
}

li .uk-button-text {
    font-size: .775rem !important;
}

li .uk-button-text::before {
    border-bottom: 1px solid #1e87f0 !important;
}

.uk-section-default .uk-card-default .uk-card-header .uk-card-body li {
	padding-right: 0px !important;
}

/* Card Footer */
.uk-card-footer {
	background: linear-gradient(to bottom, #f5f5f5 0%, #ececec 100%) !important;
}

.uk-card-default.uk-card-hover:hover .uk-card-footer {
    background: linear-gradient(to bottom, #ececec 0%, #f5f5f5 100%) !important;
}

/* Card Navbar Item */
li {
	display: inline;
	list-style: none;
	padding-right: 30px;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    min-height: 0px !important;
    padding: 0 0px !important;
}

/* Card Floating Action Button */
/* .fab {
	position: absolute;
	right: 50px;
	bottom: -40px;
	box-sizing: border-box;
	padding-top: 15px;
	background-color: #1e87f0;
	width: 80px !important;
	height: 80px;
	color: white;
	text-align: center;
	border-radius: 50%;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
} */

.fab {
	position: absolute;
	right: 50px;
	bottom: -40px;
	box-sizing: border-box;
	padding-top: 15px;
	background: linear-gradient(to bottom, #f5f5f5 0%, #ececec 100%);
	width: 80px !important;
	height: 80px;
	color: #1e87f0;
	text-align: center;
	border-radius: 50%;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	display: inline-block;
	text-decoration: none;
}

.fab2 {
	position: absolute;
	right: 50px;
	bottom: -40px;
	box-sizing: border-box;
	padding-top: 15px;
	background: linear-gradient(to bottom, #f5f5f5 0%, #ececec 100%);
	width: 80px !important;
	height: 80px;
	color: #1e87f0;
	text-align: center;
	border-radius: 50%;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	display: inline-block;
	text-decoration: none;
}

/* Card Tooltip */
[data-tooltip] {
	cursor: pointer;
	position: relative;
	/********** Default Behavior ********* */
	/********** Timeout Variant ********* */
	/********** Tooltip Sizes ********* */
	/********** Top Tooltip ********* */
	/********** Right Tooltip ********* */
	/********** Bottom Tooltip ********* */
	/********** Left Tooltip ********* */
}

[data-tooltip]:before, [data-tooltip]:after {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all 0.15s cubic-bezier(0.5, 1, 0.25, 1);
	z-index: 1;
}

[data-tooltip]:before {
	padding: 5px;
	width: 100px;
	border-radius: 3px;
	background: #666;
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2;
}

[data-tooltip]:after {
	border: 8px solid transparent;
	width: 0;
	content: "";
	font-size: 0;
	line-height: 0;
}

[data-tooltip]:hover:before, [data-tooltip]:hover:after {
	visibility: visible;
	opacity: 1;
}

[data-tooltip].tooltip-top:before {
	bottom: 100%;
	left: 50%;
	margin-bottom: 5px;
	transform: translateX(-50%);
}

[data-tooltip].tooltip-top:after {
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	border-top: 8px solid #666;
	border-bottom: none;
}

[data-tooltip].tooltip-top:hover:before, [data-tooltip].tooltip-top:hover:after {
	transform: translateX(-50%) translateY(-5px);
}